body
{
	background-image: url("BG03.jpg");
}

#register
{
	font-family: calibri;
	margin-left: 25%;
}

label
{
	text-align:right;
	float:left;
	margin-right:5px;
	width:150px;
	font-weight: bold;
	font-family:calibri;
}

#fs
{
	width:690px;
	border-radius:10px;
	float:center;
	background-color:white;
	margin:0 auto;
	overflow:auto;
	padding-top: 20px;
	padding-right: 200px;
	opacity:0.8;
	border: 0;
}

.btn
{
	padding-left: 210px;
}

h2
{
	padding-left: 180px;
	text-decoration: underline;
}

.fbg
{
	background-color: gray;
	color: white;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}

#top
{
	width:66%;
	border:2px solid;
	background-color: gray;
	border-color: gray;
	padding:2px;
	margin:1px;
	float: center;
	margin: 0 auto;
	overflow: auto;
	border-radius: 10px;
	font-family: calibri;
}

#navi ul
{
	list-style:none;
}

#navi a:link
{
	text-decoration:none;
	display;block;
	color:white;
	font-size:1.00em;
	float: left;
	padding: 10px;
	padding-top: 0px;
}

#navi a:visited
{
	color:white;
}

#navi li
{
	display:inline;
}

#bottom
{
	width:66%;
	height:30px;
	border:2px solid;
	border-color: gray;
	background-color:gray;
	padding:2px;
	margin:1px;
	float: center;
	margin: 0 auto;
	overflow: auto;
	border-radius: 10px;
	float: center;
	text-align:center;
	padding-top:10px;
}